.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}
.imageheader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  display: flex;
}
.backToHome {
  margin: 3rem 0 0;
}
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  justify-content: space-around;
}
.navbar {
  display: flex;
  justify-items: flex-end;
  align-items: center;
  font-size: 1.2rem;
  width: 100%;
}
.navbarList {
  list-style: none;
  flex: 1;
}
.navbarItem {
  border-style: groove;
  font-size: 1.2rem;
  outline: 0;
  border: 0;
  color: olivedrab;
  flex: 1;
}

.navbarItem:hover {
  text-decoration: olivedrab wavy underline;
}

.footerListItem {
  display: flex;
}
